/* Style the navbar */
#navbar {
  /*overflow: hidden;*/
  border-radius: 0;
}

/* Navbar links 
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 60px;
}

h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

#pagination
{
    text-align: center;
}

.reportedComment
{
    background-color: red;
}

p.moderatedComment
{
    background-color: black;
}

.moderatedComment a
{
    color: red;
}

p.moderatedComment::after
{
    content: "Ce commentaire a été modéré";
    color: white;
}