/* Style the navbar */
#navbar {
  overflow: hidden;
  border-radius: 0;
  z-index: 1040;
  border-bottom: white;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255,255,255,0);
}

#navHeaderTop {
    background-color: #222;
}

#navbarTop {
    background-color: #222;
}

#navbarDown {
    background-color: rgba(255,255,255,0);
    padding-right: 14px;
}

@media (max-width: 768px) {
    #navbarDown a {
        font-size: 80%;
    }
}

.backgroundWhite {
    background-color: white !important;
}

@media (min-width: 768px) {
    .header-padding-sm {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .header-padding-xs {
        padding-top: 20px;
    }
}

#newPostBar {
    padding-right: 14px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 60px;
}

/* margin for the nav bar showComments links*/
@media (min-width: 768px) {
    .showComments {
        margin-left: 15px;
        margin-right: 0px;
    }
}

/* pull-right-sm*/
@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

#dashTitle {
    height: 0px;
}

#lienHeaderColor {
    color: black;
}

li.disabled {
    background-color: lightgray;
}

h3
{
    text-align:center;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

#pagination
{
    text-align: center;
}

.reportedComment
{
    background-color: red;
}

p.moderatedComment
{
    background-color: black;
}

.moderatedComment a
{
    color: red;
}

p.moderatedComment::after
{
    content: "Ce commentaire a été modéré";
    color: white;
}