/* Style the navbar */
#navbar {
  overflow: hidden;
  border-radius: 0;
  z-index: 1040;
  border-bottom: white;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255,255,255,0);
}

#navHeaderTop {
    background-color: #222;
}

#navbarTop {
    background-color: #222;
}

#navbarDown {
    background-color: rgba(255,255,255,0);
    padding-right: 14px;
}

header.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (max-width: 768px) {
    #navbarDown {
        background-color: white;
        border-bottom: 1px solid #CCCCCC;
    }
}

@media (max-width: 768px) {
    #navbarDown a {
        font-size: 80%;
    }
}

@media (max-width: 768px) {
    #commentDiv a {
        font-size: 80%;
    }
}

footer {
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 75%;
    color: #CCCCCC;
    background-color: #222;
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

footer a {
    color: #973634;
}

.backgroundWhite {
    background-color: white !important;
}

@media (min-width: 768px) {
    .header-padding-sm {
        padding-right: 15px;
    }
}

@media (max-width: 768px) {
    .header-padding-xs {
        padding-top: 20px;
    }
}



#newPostBar {
    padding-right: 14px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 60px;
}

@media (max-width: 768px) {
    span.label.label-danger {
        font-size: 60%;
    }
}

/* margin for the nav bar showComments links*/
@media (min-width: 768px) {
    .showComments {
        margin-left: 15px;
        margin-right: 0px;
    }
}

/* pull-right-sm*/
@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

#dashTitle {
    height: 0px;
}

#lienHeaderColor {
    color: black;
}

li.disabled {
    background-color: lightgray;
}

h3
{
    text-align:center;
}

#divAutoConnect {
    display: flex;
    justify-content: center;
}

#autoconnect {
    margin-top: 0px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

#pagination
{
    text-align: center;
}

.reportedComment
{
    border: 2px solid red; 
}

.moderatedComment
{
    border: 2px solid black;
    background-color: darkslategray;
}

p.moderatedComment::after
{
    content: "Ce commentaire a été modéré";
}

.moderatedComment p
{
color: white;
}